<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <h2>Student Details</h2>
    <div>
        <form class="form-horizontal" th:object="${userForm}" th:action="@{/user}" method="post">

<!--            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">-->
<!--                <p>Errors:</p>-->
<!--                <ul>-->
<!--                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Validation Error</li>-->
<!--                </ul>-->
<!--            </div>-->
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p>Please Correct values in error below:</p>
            </div>

            <input type="hidden" th:field="*{id}"/>

            <div class="form-group"  th:class="${#fields.hasErrors('userName')} ? 'form-group has-error' : 'form-group'">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{userName}"/>

                        <span class="help-block">
                           <ul>
                               <li th:each="err : ${#fields.errors('userName')}" th:text="${err}" />
                           </ul>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group"  th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{name}"/>

                        <span class="help-block">
                           <ul>
                               <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                           </ul>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group"  th:class="${#fields.hasErrors('surName')} ? 'form-group has-error' : 'form-group'">
                <div class="form-group">
                    <label class="col-sm-2 control-label">surName:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{surName}"/>

                        <span class="help-block">
                           <ul>
                               <li th:each="err : ${#fields.errors('surName')}" th:text="${err}" />
                           </ul>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group"  th:class="${#fields.hasErrors('yearOfStudies')} ? 'form-group has-error' : 'form-group'">
                <div class="form-group">
                    <label class="col-sm-2 control-label">yearOfStudies:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{yearOfStudies}"/>

                        <span class="help-block">
                           <ul>
                               <li th:each="err : ${#fields.errors('yearOfStudies')}" th:text="${err}" />
                           </ul>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group"  th:class="${#fields.hasErrors('fieldOfStudy')} ? 'form-group has-error' : 'form-group'">
                <div class="form-group">
                    <label class="col-sm-2 control-label">fieldOfStudy:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{fieldOfStudy}"/>

                        <span class="help-block">
                           <ul>
                               <li th:each="err : ${#fields.errors('fieldOfStudy')}" th:text="${err}" />
                           </ul>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group"  th:class="${#fields.hasErrors('index')} ? 'form-group has-error' : 'form-group'">
                <div class="form-group">
                    <label class="col-sm-2 control-label">index:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{index}"/>

                        <span class="help-block">
                           <ul>
                               <li th:each="err : ${#fields.errors('index')}" th:text="${err}" />
                           </ul>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group"  th:class="${#fields.hasErrors('password')} ? 'form-group has-error' : 'form-group'">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Password:</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" th:field="*{password}"/>

                        <span class="help-block">
                           <ul>
                               <li th:each="err : ${#fields.errors('password')}" th:text="${err}" />
                           </ul>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group"  th:class="${#fields.hasErrors('encryptedPassword')} ? 'form-group has-error' : 'form-group'">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Password Conf:</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" th:field="*{encryptedPassword}"/>

                        <span class="help-block">
                           <ul>
                               <li th:each="err : ${#fields.errors('encryptedPassword')}" th:text="${err}" />
                           </ul>
                        </span>
                    </div>
                </div>
            </div>

            <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">Address Line 1:</label>-->
            <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" th:field="*{addressLine1}"/>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">Address Line 2:</label>-->
            <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" th:field="*{addressLine2}"/>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">City:</label>-->
            <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" th:field="*{city}"/>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">State:</label>-->
            <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" th:field="*{state}"/>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">Zip Code:</label>-->
            <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" th:field="*{zipCode}"/>-->
            <!--</div>-->
            <!--</div>-->
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>